.codeComponent {
    display: flex;
    overflow: hidden;

    .left {
        width: 50%;
        padding-left: 20px;
        padding-top: 10px;
        padding-right: 10px;
        overflow: scroll;

        .title {
            font-weight: 500;
        }

        .desc {
            margin-top: 15px;
        }

        .examples {
            margin-top: 15px;

            .example-header {
                font-weight: 500;
                margin-top: 10px;
            }

            .example {
                margin-top: 10px;
                padding: 10px;
                background-color: rgb(233, 233, 233);
                line-height: 18pt;

                .keyword {
                    font-weight: 500;
                }
            }
        }

        .constraints {
            margin-top: 15px;

            .constraints-header {
                font-weight: 500;
            }

            .constraint {
                margin-left: 10px;
            }
        }

        .return {
            margin-top: 15px;
            margin-bottom: 30px;
        }

        .return:hover {
            cursor: pointer;
        }
    }

    .code-editor {
        width: 50%;
    }
}