.flexbox-container-main {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flexbox-item-main {
    width: 200px;
    margin: 30px;
    background-color: #dfdfdf;
}

.confirm-btn {
    width: 10%;
    font-size: 14px;
    background-color: rgb(44, 123, 229);
    color: white;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 20px;
}

.confirm-btn:hover {
    background-color: rgb(11, 108, 236);
}

.grid-container {
    background-color: black;    
}