.flexbox-container-main {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flexbox-item-main {
    width: 200px;
    margin: 30px;
    background-color: #dfdfdf;
}