.code-navbar {

    display: flex;
    max-height: fit-content;
    background-color: white;
    align-items: center;

    .left {
        display: flex;
        flex: 0.5;
        justify-content: space-between;

        .call-container {
            margin-top: 10px;
            text-align: left;
            
            .call-button {
                margin-left: 10px;
            }
            
            .mute-button {
                margin-left: 15px;
            }
        }
        
        .img-container {
            text-align: right;

            img {
                transform: translateX(30px);
                width: 48px;
            }
        }
    }

    .right {
        flex: 0.5;

        .buttons {
            text-align: right;
            margin-right: 15px;

            .save-button {
                margin-right: 15px;
            }

        }
    }

    .leaving-page-msg {
        position: absolute;
        top: -10vh;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        transition: all 0.75s ease;
    }
    
    .code-save-msg {
        position: absolute;
        top: -10vh;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        transition: all 0.75s ease;
    }
    
    .show {
        transform: translateY(10vh);
        transition: all 0.75s ease;
    }
}