.control-dropdown {
  display: flex;
  align-items: center;
  justify-content: right;
  flex: 1;
  background-color: rgb(90, 90, 90);
  padding: 0;
  width: fit-content;

  select {
    width: fit-content;
    appearance: none;
    background-color: #898989;
    color: #fff;
    font-size: inherit;
    padding: 0.8rem;
    border: none;
    transition: 0.2s ease;

    &:hover {
      background-color: #9d9d9d;
    }
  }
}