.verification-container {
    display: flex;
    justify-content: center;

    .css-1pxa9xg-MuiAlert-message {
        overflow: hidden;
    }
}

.css-xpovvm-MuiPaper-root-MuiAlert-root {
    border: 1px solid lightblue;
}