.signup {
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
        font-weight: bold;
        display: flex;
        justify-content: center;
        font-size: 40px;
        margin-top: 60px;
    }

    .textfields {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        >div {
            margin-bottom: 30px;
        }
    }

    .signup-btn {
        width: 100%;
        height: 60px;
        font-size: 20px;
        background-color: rgb(44, 123, 229);
        color: white;
    }

    .signup-btn:hover {
        background-color: rgb(11, 108, 236);
    }
}