.editor-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
}

.editor-title {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.CodeMirror {
    height: 100% !important;
}

.code-mirror-wrapper {
    flex-grow: 1;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    overflow: hidden;
}