.editor-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: hidden;
}

.editor-title {
    background-color: rgba(211, 211, 211, 0.8);
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.CodeMirror {
    height: 100% !important;
}

.code-mirror-wrapper {
    flex-grow: 1;
    overflow: hidden;
}