// codeNavBar
.code-navbar {

    display: flex;
    max-height: fit-content;
    background-color: white;
    align-items: center;

    .left {
        flex: 0.5;

        .img-container {
            text-align: right;

            img {
                transform: translateX(40px);
                width: 48px;
            }
        }
    }

    .right {
        flex: 0.5;

        .buttons {
            text-align: right;
            margin-right: 15px;

            .save-button {
                margin-right: 15px;
            }
        }
    }
}

.navbar-top {
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: .5px solid lightgray;
    z-index: 1;
}

.code-container {
    display: flex;
    flex-direction: row;
    height: 92.5vh;
    justify-content: space-between;
}

.pane {
    display: flex;
    width: 50vw;
}

.left-pane {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 10px 15px;
    overflow: auto;
    max-width: 49%;
}

.right-pane {
    max-width: 49%;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .prev-question-button {
        width: fit-content;
    }

    .next-question-button {
        margin-left: 15px;
        margin-right: 35px;
        width: fit-content;
    }

    .prev-question-button:hover {
        animation: shake 0.7s;
        background-color: rgb(11, 108, 236);
    }

    .next-question-button:hover {
        animation: shake 0.5s;
        background-color: rgb(11, 108, 236);
    }
}

@keyframes shake {

    10%,
    90% {
        transform: translatey(0px, -8px, -8px);
    }

    50% {
        transform: translate3d(0px, -4px, -4px);
    }
}